* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Eudoxus Sans",sans-serif;
  }
  
*,*::after,*::before{
  box-sizing: border-box;
}
html{
  user-select: #e31b0d;
}
body{
  user-select: #e31b0d;
  height: 500vh;
}

li{
  list-style: none;
  text-decoration: none;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button{
  cursor: pointer;
}
input{
  cursor: pointer;
  outline: none;
}